// ==========================================================================
// Fade In Down Animation
// ==========================================================================

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, calc(-1 * var(--distance)), 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ast-animate__fadeInDown {
  animation-name: fadeInDown;
}