// ==========================================================================
// Slide In Right Animation
// ==========================================================================

@keyframes slideInRight {
  from {
    transform: translate3d(var(--distance), 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.ast-animate__slideInRight {
  animation-name: slideInRight;
}