// ==========================================================================
// Zoom In Animation
// ==========================================================================

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.ast-animate__zoomIn {
  animation-name: zoomIn;
}