// ==========================================================================
// Slide In Up Animation
// ==========================================================================

@keyframes slideInUp {
  from {
    transform: translate3d(0, var(--distance), 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.ast-animate__slideInUp {
  animation-name: slideInUp;
}