// ==========================================================================
// Fade In Right Animation
// ==========================================================================

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(var(--distance), 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ast-animate__fadeInRight {
  animation-name: fadeInRight;
}