// ==========================================================================
// Fade In Animation
// ==========================================================================

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ast-animate__fadeIn {
  animation-name: fadeIn;
}