// ==========================================================================
// Fade In Up Animation
// ==========================================================================

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, var(--distance), 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ast-animate__fadeInUp {
  animation-name: fadeInUp;
}