// ==========================================================================
// Slide In Left Animation
// ==========================================================================

@keyframes slideInLeft {
  from {
    transform: translate3d(calc(-1 * var(--distance)), 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.ast-animate__slideInLeft {
  animation-name: slideInLeft;
}