@font-face {
  font-display: auto;
  font-family: "font-icons";
  font-style: normal;
  font-weight: 400;
  
  src: url("./font-icons.woff2?1764000480991") format("woff2"), url("./font-icons.woff?1764000480991") format("woff"), 
}

.icon {
  display: inline-block;
  font-family: "font-icons";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.icon-xs {
  font-size: 0.75em;
}

.icon-sm {
  font-size: 0.875em;
}

.icon-1x {
  font-size: 1em;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-6x {
  font-size: 6em;
}

.icon-7x {
  font-size: 7em;
}

.icon-8x {
  font-size: 8em;
}

.icon-9x {
  font-size: 9em;
}

.icon-10x {
  font-size: 10em;
}

.icon-fw {
  text-align: center;
  width: 1.25em;
}

.icon-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.icon-pull-left {
  float: left;
}

.icon-pull-right {
  float: right;
}

.icon.icon-pull-left {
  margin-right: 0.3em;
}

.icon.icon-pull-right {
  margin-left: 0.3em;
}


.icon-minus::before {
  content: "\ea01";
}

.icon-plus::before {
  content: "\ea02";
}

.icon-social-bluesky::before {
  content: "\ea03";
}

.icon-social-facebook::before {
  content: "\ea04";
}

.icon-social-instagram::before {
  content: "\ea05";
}

.icon-social-linkedin::before {
  content: "\ea06";
}

.icon-social-threads::before {
  content: "\ea07";
}

.icon-social-youtube::before {
  content: "\ea08";
}

