$spacing: (
  160: (sm: 80px,
    md: 120px,
    lg: 160px,
  ),
  120: (sm: 60px,
    md: 80px,
    lg: 120px,
  ),
  90: (sm: 40px,
    md: 60px,
    lg: 90px,
  ),
  80: (sm: 40px,
    md: 60px,
    lg: 80px,
  ),
  64: (sm: 32px,
    md: 48px,
    lg: 64px,
  ),
  60: (sm: 32px,
    md: 40px,
    lg: 60px,
  ),
  48: (sm: 28px,
    md: 36px,
    lg: 48px,
  ),
  45: (sm: 26px,
    md: 32px,
    lg: 45px,
  ),
  40: (sm: 24px,
    md: 32px,
    lg: 40px,
  ),
  32: (sm: 16px,
    md: 24px,
    lg: 32px,
  ),
  24: (sm: 12px,
    md: 16px,
    lg: 24px,
  ),
  20: (sm: 10px,
    md: 14px,
    lg: 20px,
  ),
  16: (sm: 8px,
    md: 12px,
    lg: 16px,
  ),
  14: (sm: 7px,
    md: 9px,
    lg: 14px,
  ),
  12: (sm: 6px,
    md: 8px,
    lg: 12px,
  ),
  8: (sm: 4px,
    md: 6px,
    lg: 8px,
  ),
  7: (sm: 4px,
    md: 5px,
    lg: 6px,
  ),
  6: (sm: 3px,
    md: 4px,
    lg: 6px,
  ),
  5: (sm: 2px,
    md: 3px,
    lg: 5px,
  ),
  4: (sm: 2px,
    md: 3px,
    lg: 4px,
  ),
  0: (sm: 0px,
    md: 0px,
    lg: 0px,
  ),
  vertical-LG:(sm: 50px, md: 60px, lg: 90px),
  vertical-MD:(sm: 40px, md: 50px, lg: 60px),
  vertical-SM:(sm: 30px, md: 24px, lg: 16px),
  column-gap: (sm: 20px, md: 25px, lg: 30px),
  main-margins: (sm: 40px, lg: 50px, xl: 144px),
);