// @use "@/styles/core/breakpoint.core" as *;
// @use "@/styles/core/spacing.core" as *;

.ast-main-nav {

  // Remove these styles!
  padding: 1rem;
  background-color: #647FBC;
  text-align: center;
  color: white;
}